#hero-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 20px;

    a {
        text-decoration: none;
    }

    .item-gallery {
        min-width: 22em;
        max-width: 480px;
        height: 480px;
        background-size: cover;
        background-position: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;

        &.common {
            border-bottom: 4px solid var(--common);
        }

        &.rare {
            border-bottom: 4px solid var(--rare);
        }

        &.epic {
            border-bottom: 4px solid var(--epic);
        }

        &.legendary {
            border-bottom: 4px solid #ffa500;
        }

        &.mythic {
            border-bottom: 4px solid transparent;
            border-image: var(--mythic);
            border-image-slice: 1;
        }

        &.recolor::after {
            content: 'Recolor';
            float: right;
            padding: 2px 6px;
            background-color: rgba(0, 0, 0, 0.6);
            color: white;
            font-size: 20px;
            border-radius: 4px;
        }

        .item-name {
            color: white;
            text-shadow: 1px 1px 2px black;
            position: relative;
            top: 455px;
            left: 10px;
        }
    }

    .category-icon {
        height: 32px;
        padding: 5px;
        position: absolute;
    }


}

#skin-topbar {
    background-color: #046daa;
    text-align: center;
    padding: 5px;
    color: rgb(219, 218, 218);

    a {
        color: rgb(203, 203, 203);

        &:visited {
            color: rgb(203, 203, 203);
        }

        &:hover {
            color: white;
        }

    }


}

.hero-dialog {
    background-color: rgb(0, 0, 0, 0.7);
    border: none;
    padding: 5%;
    color: white;

    #close-setting {
        position: absolute;
        right: 6px;
        top: 0px;
        font-size: 60px;

        &:hover {
            cursor: pointer;
        }
    }
}

#change-hero {
    text-decoration: underline;

    &:hover {
        cursor: pointer;
        color: white;
    }
}

#skin-main {
    display: flex;

}

#skin-selection {
    background-color: #212537;
    width: fit-content;
    min-height: 100vh;
    z-index: 1;

    .skin-name {
        label {
            font-size: large;
            border: inherit;
            display: block;
            margin: 5px;
            padding: 5px 105px 5px 25px;

            img {
                width: 15px;
            }
        }

        input {
            appearance: none;
            width: 1px;
        }

        &:hover,
        &:has(input:focus),
        &:has(input:active) {
            background-color: #243e67;
        }
    }

    a,
    #change-hero {
        text-align: center;
        padding: 3%;
        font-size: large;
        display: block;
        background-color: #212537;
        color: rgb(162, 162, 162);

        &:visited {
            color: #6c7e9a
        }

        &:hover {
            background-color: #243e67;
            color: white;
        }
    }
}

#skin-display {
    img {
        z-index: 0;
        width: 87%;
        position: fixed;
        top: -15px;
        left: 200px;
    }
}