.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;

    a {
        padding: 8px;
        text-decoration: none;
        font-size: 1em;
        color: #818181;
        display: inline-block;
        margin-left: 20px;
        transition: 0.3s;

        &:hover,
        &:focus {
            color: #f1f1f1;
        }
    }

    #close-setting {
        position: absolute;
        right: 45px;
        font-size: 60px
    }
}

.overlay-content {
    position: relative;
    width: 88%;
    margin-left: 10px;
    color: white;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay #close-setting {
        font-size: 40px;
        right: 35px;
    }
}