:root {
    --width: 220px;
    --height: 124px;
    --common: #c5c5c5;
    --rare: #1ac9ff;
    --epic: #ff00ff;
    --legendary: #ff9c00;
    --mythic: linear-gradient(90deg, #00ffd0 0%, #bebcd8 50%, #ff33ce 100%);
}

@font-face {
    font-family: "BigNoodleTitlingOblique";
    src: url("./fonts/big_noodle_titling_oblique.ttf") format("truetype");
}

body {
    font-family: BigNoodleTitlingOblique;
    background: url('../image/background.webp') 0% 0% / cover;
    margin: 0;
    width: max-content;

    &>a {
        display: block;
    }
}