:root {
    --width: 220px;
    --height: 124px;
    --common: #c5c5c5;
    --rare: #1ac9ff;
    --epic: #ff00ff;
    --legendary: #ff9c00;
    --mythic: linear-gradient(90deg, #00ffd0 0%, #bebcd8 50%, #ff33ce 100%);
    --initiator: #06cfc2;
    --bruiser: #0ab4fc;
    --stalwart: #2179ff;
    --specialist: #ff9f00;
    --recon: #f23c46;
    --flanker: #ff6218;
    --sharpshooter: #ffe100;
    --tactician: #ec4fff;
    --medic: #8970ff;
    --survivor: #b15fff;
}

@font-face {
    font-family: "BigNoodleTitlingOblique";
    src: url("./fonts/big_noodle_titling_oblique.ttf") format("truetype");
}

body {
    font-family: BigNoodleTitlingOblique;
    margin: 0;
    background: #B3B7D4;
    background: linear-gradient(90deg, rgba(179, 183, 212, 1) 0%, rgba(219, 213, 229, 1) 50%, rgba(171, 181, 215, 1) 100%);

    &>a {
        display: block;
    }
}