#show-hide-text {
    margin-right: 20px;
}

input[type=checkbox] {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    margin-top: 4px;
    outline: none;
    border: 1px solid transparent;
    background-color: transparent;
}

.rarity-filter,
.category-filter,
.season-filter {
    display: flex;
    flex-direction: column;
}

.hero-filter {
    width: 650px;
}

.season-filter {
    height: 500px;
    flex-wrap: wrap;
}

#filter-form {
    display: flex;
}

#select-buttons {
    margin-bottom: 10px;
}