@import url(root.css);
@import url(row.css);
@import url(cell_size_color.css);
@import url(text_color.css);
@import url(overlay.css);
@import url(label.css);
@import url(button.css);

.container {
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

#show-hide-text {
  margin-right: 20px;
}

input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  display: none;
}

.rarity-filter,
.category-filter,
.season-filter {
  display: flex;
  flex-direction: column;
}

.hero-filter {
  width: 620px;
}

.season-filter {
  height: 500px;
  flex-wrap: wrap;
}

#filter-form {
  display: flex;
}

#select-buttons {
  margin-bottom: 10px;
}