@import url(root.css);
@import url(row.css);
@import url(gallery.css);
@import url(cell_size_color.css);
@import url(text_color.css);
@import url(overlay.css);
@import url(label.css);
@import url(button.css);
@import url(details.css);
@import url(settings.css);

#main-page {
  text-align: center;
  overflow-x: hidden;
  ;

  h1 {
    font-size: 3em;
    color: white;
    text-shadow: 0px 0px 5px black;
  }

  h2 {
    font-size: 2em;
    color: white;
    text-shadow: 0px 0px 5px black;
  }

  img {
    width: 40%;
    display: block;
  }
}

#navigation,
.static-recap {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;

  a {
    margin-top: 5px;
    margin-left: 5px;
    text-decoration: none;
    font-size: 1.5em;
    padding: 5px 10px;
    color: white;
    background-color: #046daa;
    border-radius: 10px;
    display: inline-block;
  }

  a:hover {
    background-color: #035f8a;
  }

  .static {
    background-color: #d46700;
  }

  .static:hover {
    background-color: #8a4403;
  }
}

.download-list {
  list-style-type: none;
  padding: 0;

  a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    display: inline-block;
    background-color: #d46700;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 8.5px;

    &:hover {
      background-color: #8a4403;
    }
  }
}

.container {
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.skin-information {
  font-size: 20px;
  width: 100%;
  max-width: 1200px;

  p,
  h1 {
    margin-left: 10px;
    text-align: center;
  }

  img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 10%;
  }
}