@import url("variable.css");

@font-face {
  font-family: "BigNoodleTitlingOblique";
  src: url("./fonts/big_noodle_titling_oblique.ttf") format("truetype");
}

body {
  font-family: BigNoodleTitlingOblique;
  background: url('../images/background.png') 0% 0% / cover;
  margin: 0;
  width: max-content;
}

.container {
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.row {
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.5);
}

.rowCategory {
  background: none;
  align-content: center;
}

.rowHeader {
  width: calc(var(--width)/3);
  height: var(--height);
}

.rowCount {
  display: flex;
  width: var(--width);
  height: var(--height);
  flex-wrap: wrap;
  align-items: center;
}

.count {
  margin: auto;
  font-size: x-large;
}

.epicSkin {
  color: var(--epic);
}

.legendarySkin {
  color: var(--legendary);
}

.mythicSkin {
  background: #00ffd0;
  background-image: var(--mythic);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.cell {
  display: flex;
  flex-direction: row;
  width: var(--width);
  height: var(--height);
  flex-wrap: wrap;
}

.row .item {
  flex: 0 1 auto;
  width: var(--width);
  height: var(--height);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.row .category {
  margin: 1% 0;
  height: var(--height)/2;
}

.row .epic {
  border-bottom: 3px solid var(--epic);
}

.row .legendary {
  border-bottom: 3px solid var(--legendary);
}

.row .mythic {
  border-bottom: 3px solid transparent;
  border-image: var(--mythic);
  border-image-slice: 1;
  width: 100%;
}

.row .half {
  width: calc(var(--width)/2);
  height: var(--height);
}

.row .quarter {
  width: calc(var(--width)/2);
  height: calc(var(--height)/2);
}

.row .eigth {
  width: calc(var(--width)/4.01);
  height: calc(var(--height)/2);
}

.row .sixteenth {
  width: calc(var(--width)/4);
  height: calc(var(--height)/4);
}

[data-tooltip]:hover {
  cursor: pointer;
}

[data-tooltip]:before {
  content: attr(data-tooltip);
  opacity: 0;
  color: white;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  font-size: 12px;
  z-index: 10;
  position: relative;
}

[data-tooltip]:hover:before {
  opacity: 1;
}