@import url(root.css);
@import url(row.css);
@import url(gallery.css);
@import url(cell_size_color.css);
@import url(text_color.css);
@import url(overlay.css);
@import url(label.css);
@import url(button.css);


#main-page {
  text-align: center;
  overflow-x: hidden;
  ;

  h1 {
    font-size: 3em;
    color: white;
    text-shadow: 0px 0px 5px black;
  }

  img {
    width: 40%;
    display: block;
  }
}

#navigation {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;

  a {
    margin-top: 5px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.5%;
    color: white;
    background-color: #046daa;
    border-radius: 10px;
    display: inline-block;
  }

  a:hover {
    background-color: #035f8a;
  }

  .static {
    background-color: #d46700;
  }

  .static:hover {
    background-color: #8a4403;
  }
}

.container {
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

#show-hide-text {
  margin-right: 20px;
}

input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  display: none;
}

.rarity-filter,
.category-filter,
.season-filter {
  display: flex;
  flex-direction: column;
}

.hero-filter {
  width: 620px;
}

.season-filter {
  height: 500px;
  flex-wrap: wrap;
}

#filter-form {
  display: flex;
}

#select-buttons {
  margin-bottom: 10px;
}

.skin-information {
  font-size: 20px;
  width: 100%;
  max-width: 1200px;

  p,
  h1 {
    margin-left: 10px;
    text-align: center;
  }

  img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 10%;
  }
}